.main-nav {
  float: none;

  .menu,
  div div .menu {
    border: solid 1px $color-keyline;
    border-bottom: 0;
    box-shadow: -2px 2px 4px 0 rgba($color-shadow, .2);
    display: table;

    @media (max-width: breakpoint(medium)) {
      display: none;
    } // @media (max-width: breakpoint(medium))

    &__item,
    li {
      background-image: none;
      border-top: solid 1px $color-canvas;
      display: block;
      float: none;
      font-size: .9em;
      padding: 0;
      text-align: left;
      text-transform: none;
      width: 100%;

      &.active,
      &.active-trail {
        background-color: $color-canvas-alt2;
        transition: none;

      &:focus-within {
        background-color: $color-brand;
        transition: none;
      }

        a {
          color: $color-brand;
          &:focus {
            color: $color-canvas;
          }
        } // a

      } // &.active

      @media (min-width: 1 + breakpoint(medium)) {
        background: $color-canvas;
        border-bottom: solid 1px $color-keyline;
        border-right: solid 1px $color-keyline;
        cursor: default;
        display: table-cell;
        float: none;
        height: 60px;
        padding: 0 15px;
        text-align: center;
        text-transform: none;
        vertical-align: middle;
        width: auto;

        &:last-child {
          border-bottom: solid 1px $color-keyline;
        } // &:last-child

        &:hover {
          background: $color-canvas;
        } // &:hover

        &:focus-within {
          background-color: $color-brand;
          transition: none;
        }

        &.active,
        &.active-trail {
          background: $color-canvas;
          border-bottom: 0;
          border-top: solid 5px $color-brand-accent2;
          position: relative;

          &:hover {
            background: $color-canvas;

            .front & {
              background: $color-keyline-alt;
            } // .front &

          } // &:hover

          &:after {
            background: $color-canvas;
            bottom: -5px;
            content: '';
            display: block;
            height: 5px;
            left: 0;
            position: absolute;
            width: 100%;

            .front & {
              background: $color-keyline-alt;
            } // .front &

          } // &:after

        } // &.active

      } // @media (max-width: breakpoint(1 + medium))

      a {
        color: $color-canvas;
        cursor: pointer;
        display: block;
        margin-right: 44px;
        padding: .7em 1em .65em;
        text-decoration: none;
        width: auto;

        @media (min-width: 1 + breakpoint(medium)) {
          color: $color-brand-accent;
          font-size: 14px;
          font-weight: $font-weight-medium;
          line-height: 1.3em;
          margin: 0;
          padding: 0;

          &:hover {
            text-decoration: underline;
          }

          &:focus {
            color: $color-canvas;
            outline: unset;
            background-color: $color-brand;
            transition: none;
          }
        } // @media (max-width: breakpoint(1 + medium))

      } // a

    } // &__item

    &__link {

      &--home {

        &:before {
          @include icon($zmdi-var-home, $font-material);
          margin-right: 5px;
        } // &:before

      } // &--home

    } // &__link

    .menu {
      display: none;
    } // .menu

  } // .menu

} // .main-nav
