.parent-site-header {
  background: $color-brand;
  box-shadow: 0 2px 5px 0 rgba($color-shadow, .5);
  padding: 0;
  height: auto;
  min-width: initial;

  @media (min-width: 1 + breakpoint(medium)) {
    left: 10px;
    height: auto;
    margin: 0;
    position: absolute;
    top: 129px;
    width: 220px;
  }

  a {
    color: $color-canvas;
    text-decoration: none;
    padding: 5px 15px;

    @media (min-width: 1 + breakpoint(medium)) {
      padding: 5px;
      text-align: center;
    }

    p {
      color: $color-canvas;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-transform: uppercase;


      @media (min-width: 1 + breakpoint(medium)) {
        margin: 0;
      }

    }
  }
}
