/* External links in program section */
.section-peninsulas {
  .paragraphs-items {
    .field-item {
      a[target="_blank"]:after {
        content: "open in new window";
        font-size: 0;
        display: block;
        width: 36px;
        height: 36px;
        position: absolute;
        right: 12px;
        bottom: 12px;
        background: url('/files/all/images/baseline_open_in_new_black_18dp.png');
      }
    }
  }
}

/* Locations panel */
.locations {
  width: 100vw;
  margin-left: -0.625em;
  padding: $space-unit * 2;
  padding-bottom: 120px;
  text-align: center;
  background: url("https://ee.wwu.edu/files/Locations.jpg");
  background-position: 50%;
  background-size: cover;

  p {
    max-width: 1080px;
    margin: auto;
    color: $color-brand;
    font-size: 1.1em;
    font-weight: bold;
  }

  .location-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 540px;
    margin: $space-unit * 2 auto;

    a {
      display: inline-block;
      margin-bottom: $space-unit;
      padding: $space-unit-mid $space-unit;
      transition: 0.2s ease all;
      text-decoration: none;
      color: $color-brand;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 1.1em;
      font-weight: bold;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
      }
    }
  }
}

@media (min-width: 1080px) {
  .locations {
    width: 100vw;
    padding-bottom: 220px;
    transform: translatex(calc((100vw - #{1080px}) / -2));
  }
}
